<mat-card fxLayout="column">


    <img alt="avatar" src="../../../assets/bgStart.png" mat-card-avatar />
    <mat-card-content>
        <form [formGroup]="signUpForm">

            <mat-form-field fxLayout="row">
                <mat-label for="'fullName" title="fullName"> fullname:</mat-label>
                <input matInput id="fullName" formControlName="fullName" placeholder="full name" />
            </mat-form-field>
            <small class="error" *ngIf="fullName?.errors?.['pattern']">only letters are accepted. </small>
            <small class="error" *ngIf="fullName?.errors?.['required']&&fullName?.touched">full required.</small>

            <mat-form-field fxLayout="row" fxFlex.gt-lg="60%">
                <mat-label for="'userName" title="userName"> username: </mat-label>
                <input matInput id="userName" formControlName="userName" placeholder="username" />

            </mat-form-field>
            <small class="error" *ngIf="userName?.errors?.['minlength']">username must be 8 charachters. </small>
            <small class="error" *ngIf="userName?.errors?.['pattern']">only small letters are accepted. </small>
            <small class="error" *ngIf="userName?.errors?.['required']&&userName?.touched">username
                required.</small>
            <mat-form-field fxLayout=" row">
                <mat-label for="'password" title="password">password:</mat-label>
                <input matInput id="password" formControlName="password" placeholder="password" />
            </mat-form-field>

            <mat-form-field fxLayout="row" class="two one">
                <mat-label for="'confirmPassword" title="confirmPassword">
                    confirmPassword
                </mat-label>

                <input matInput id="confirmPassword" formControlName="confirmPassword" placeholder=" password" />
            </mat-form-field>
            <small class="error" *ngIf="confirmPassword?.errors?.['mustMatch']&&confirmPassword?.touched">password
                doesn't
                match.</small>

        </form>
    </mat-card-content>
</mat-card>
<div fxLayout="column" fxLayoutAlign="space-between">
</div>